@charset "UTF-8";

/*
 * _main.scss
 * journal
 * 
 * Copyright 2015 Joshua Herkness
 */

// Scheme Colors
$red-color: #ee1356;
$red-color-dark: #d4114b;
$red-color-dark-dark: #BA0F43;
$gray-color-light: #fafafa;
$gray-color: #7f8c8d;
$green-color:#2acd82;
$green-color-dark: #24b370;
$green-color-dark-dark: #1F9961;
$blue-color: #4070f8;
$blue-color-dark: #3a65de;
$blue-color-dark-dark: #3359C4;
$yellow-color: #fbeb3a;
$yellow-color-dark: #E0D234;
$yellow-color-dark-dark: #C7BA2E;

// Social Colors
$linkedin-color: #4875b4;
$linkedin-color-dark: #3e659c;
$github-color: #333333;
$github-color-dark: #1a1a1a;
$mail-color: #2acd82;
$mail-color-dark: #24b370;
$dribbble-color: #ea4c89;
$dribbble-color-dark: #D1447A;

// Fonts
$font-stack-display: 'Economica', "Open Sans", Helvetica, serif;
$font-stack-content: "Merriweather", "PT Serif", Georgia, "Times New Roman", serif;
$font-stack-code: Consolas, "Liberation Mono", Menlo, Courier, monospace;

html, body {
  height: 100%;
}

body {
	
	font-family: $font-stack-display;
	// Make room for the nav-bar
	padding-top: 70px;
}

p {
  	font-family: $font-stack-content;
}

// Custom hr (line)
hr { 
	
	display: block; 
    height: 1px;
    border: 0; 
    border-top: 1px #eeeeee;
    opacity: 0.50;
    margin: 20px 0;
    padding: 0; 
}

ul {
    color: #333333;
}

li {
    color: #333333;
}

header {
	.logo {
		width: 80px;
	}
}

body {
  	font-size: 1.5rem;

    box-sizing: border-box;
    -moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

p, footer {
	
	// Link in a paragraph and footer
	a:link, a:visited{
    	color: $red-color;
		text-decoration: none;
	}
	
	// Selected Link in a paragraph and footer
	a:hover, a:active{
    	color: $red-color;
		text-decoration: none;
	}
}

img {
	width: auto;
	max-width: 100%;
}

.heart {
	color: $red-color;
}

.site-wrap {
	min-height: 100%;
	margin-bottom: -120px;
}

.site-wrap:after {
	content: "";
	display: block;
}

.footer, .site-wrap:after {
	height: 120px;
}

.gist,
.gist .highlight .p {
	font-size: .75rem;
}

.gist .lines {
	width: 100%;
}

.related-post-title {
  border-bottom: thin solid #eeeeee;
}

.posts {
  margin: 0;
}

.posts .post {
  margin-bottom: 0.75em;
  padding-bottom: .375em;
  border-bottom: thin solid #eeeeee;
}

.posts .post:last-child {
  border-bottom: none;
  margin-bottom: .375em;
  padding-bottom: 0;
}

.post-link .post-title {
  margin-top: 0;
  font-weight: 300;
  color: #333333;
}

.post-footer {
  @extend .italic !optional;

  margin-top: .75rem;
  text-align: center;
}

.post-footer .avatar {
  margin: 2rem 0;
  width: 100px;
  border-radius: 50%;
}

.meta,
.post-meta {
  width: auto;
	font-family: $font-stack-content;
  font-size: 1rem;
  font-weight: 300;
  margin: 0;
  padding: .25em 0;
  color: #333333;
  opacity: 0.40;
}

form {
  font-family: $font-stack-content; 
  font-weight: 400;
  font-size: 1rem;
}

textarea.input {
  height: 8em;
}

p {
  font-family: $font-stack-content; 
  font-weight: 300;
  line-height: 1.5em;
  color: #333333;
}

abbr {
  border-bottom: 1px black dotted;
  cursor: help;
}

code {
  font-family: $font-stack-content; 
  border-radius: 3px;
  border: 1px solid $gray-color-light;
  margin: 1px 2px;
  padding: 0 5px;
  display: inline-block;
  color: $red-color;
  background-color: $gray-color-light;
    
}

pre {
  font-family: $font-stack-code;
  color: #666;
  background-color: transparent;
  padding: 1.125em;
  font-size: 1.5rem;
  line-height: 1.4;
  overflow-x: scroll;
  margin-bottom: 1em;
}

pre > code {
    font-family: $font-stack-code;
    border: 0;
    margin: 0;
    padding: 0;
	display: block;
    color: #666;
}

.highlight .p {
  font-size: 1.125rem;
  line-height: 1;
}

blockquote {
  padding: 1.33em;
  font-style: italic;
  border-left: 5px solid #7f8c8d;
}

blockquote footer {
  font-size: .85rem;
  font-style: normal;
  background-color: #fff;
  color: #7f8c8d;
  border-color: transparent;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: $font-stack-display;
  font-weight: 400;
  line-height: 1.2;
  margin: 1em 0 0.5em;
  color: #7f8c8d;
	text-transform: uppercase;
}

h1, .h1 {
    color: $red-color;
}

@media screen and (min-width: 48em) {

  .meta,
  .post-meta {
    margin: 0;
    padding: 0;
    font-size: 1.25rem;
  }

  .h1,
  h1 {
    font-size: 3.250rem;
  }

  .h2,
  h2 {
    font-size: 2.298rem;
  }

  .h3,
  h3 {
    font-size: 1.625rem;
  }

  .h4,
  h4 {
    font-size: 1.150rem;
  }
  
  .h5,
  h5 {
    font-size: 0.75rem;    
  }

  .p,
  p,
  li {
    font-size: 19px;
    line-height: 1.4p5em;
  }

  .small {
    font-size: 1rem;
  }

  table {
    font-size: 1.25rem;
  }
	
	.narrow {
		width: 66%
	}

}

@media screen and (max-width: 48em) {
  blockquote {
    margin-left: 1rem;
    margin-right: 0;
    padding: 0.5em;
  }

  .h1,
  h1 {
    font-size: 2.827rem;
  }

  .h2,
  h2 {
    font-size: 1.999rem;
  }

  .h3,
  h3 {
    font-size: 1.413rem;
  }

  .h4,
  h4 {
    font-size: 1rem;
  }
	
	.narrow {
		width: 90%
	}
}

@media screen and (min-width: 64em) {
  .h1,
  h1 {
    font-size: 4.498rem;
  }

  .h2,
  h2 {
    font-size: 3.18rem;
  }

  .h3,
  h3 {
    font-size: 2.249rem;
  }

  .h4,
  h4 {
    font-size: 1.591rem;
  }
	
	.narrow {
		width: 66%
	}
}

footer{
  	color: $gray-color;
  	background-color: $gray-color-light;
	
	p {
		color: $gray-color;
		font-family: $font-stack-display;
  		font-weight: 400;
		font-size: 20px;
		text-transform: uppercase;
		
		a:link {
			color: $red-color;
		}
	}
}
