<!--
# center.html
# journal
#
# Copyright 2015 Joshua Herkness
-->

<!-- MathJax Support -->
<script type="text/javascript"
    src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

<!DOCTYPE html>
<html>
{% include head.html %}
{% include navigation_bar.html %}

<body class="{% if site.animated %}animated fade-in-down{% endif %}">
  <div class="site-wrap">
    <div class="post p2 p-responsive wrap" role="main">
      <div class="measure">
        {{ content }}
      </div>
    </div>
  </div>
</body>
	
{% include footer.html %}
</html>
